<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Tenuser:</strong>
    <%= @quanlyuser.tenuser %>
  </p>

  <p>
    <strong>Tendangnhap:</strong>
    <%= @quanlyuser.tendangnhap %>
  </p>

  <p>
    <strong>Sdt:</strong>
    <%= @quanlyuser.sdt %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @quanlyuser.email %>
  </p>

  <p>
    <strong>Ngaysinh:</strong>
    <%= @quanlyuser.ngaysinh %>
  </p>

  <p>
    <strong>Ngaytao:</strong>
    <%= @quanlyuser.ngaytao %>
  </p>

  <p>
    <strong>Vitri:</strong>
    <%= @quanlyuser.vitri %>
  </p>

  <%= link_to 'Edit', edit_quanlyuser_path(@quanlyuser) %> |
  <%= link_to 'Back', quanlyusers_path %>
</div>
</br>