<%= form_with(model: phieuthu) do |form| %>
  <% if phieuthu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(phieuthu.errors.count, "error") %> prohibited this phieuthu from being saved:</h2>

      <ul>
        <% phieuthu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :maphieuthu %>
    <%= form.number_field :maphieuthu %>
  </div>

  <div class="field">
    <%= form.label :ngaytao %>
    <%= form.date_select :ngaytao %>
  </div>

  <div class="field">
    <%= form.label :makh %>
    <%= form.number_field :makh %>
  </div>

  <div class="field">
    <%= form.label :tenkh %>
    <%= form.text_field :tenkh %>
  </div>

  <div class="field">
    <%= form.label :tongcong %>
    <%= form.number_field :tongcong %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
