<p id="notice"><%= notice %></p>

<h1>Phieuthus</h1>

<table>
  <thead>
    <tr>
      <th>Maphieuthu</th>
      <th>Ngaytao</th>
      <th>Makh</th>
      <th>Tenkh</th>
      <th>Tongcong</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phieuthus.each do |phieuthu| %>
      <tr>
        <td><%= phieuthu.maphieuthu %></td>
        <td><%= phieuthu.ngaytao %></td>
        <td><%= phieuthu.makh %></td>
        <td><%= phieuthu.tenkh %></td>
        <td><%= phieuthu.tongcong %></td>
        <td><%= link_to 'Show', phieuthu %></td>
        <td><%= link_to 'Edit', edit_phieuthu_path(phieuthu) %></td>
        <td><%= link_to 'Destroy', phieuthu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phieuthu', new_phieuthu_path %>
