<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Maphieuthu:</strong>
    <%= @phieuthu.maphieuthu %>
  </p>

  <p>
    <strong>Ngaytao:</strong>
    <%= @phieuthu.ngaytao %>
  </p>

  <p>
    <strong>Makh:</strong>
    <%= @phieuthu.makh %>
  </p>

  <p>
    <strong>Tenkh:</strong>
    <%= @phieuthu.tenkh %>
  </p>

  <p>
    <strong>Tongcong:</strong>
    <%= @phieuthu.tongcong %>
  </p>

  <%= link_to 'Edit', edit_phieuthu_path(@phieuthu), class: 'btn btn-color' %>
  <%= link_to 'Back', phieuthus_path, class: 'btn btn-color' %>
</div>
</br>