<p id="notice"><%= notice %></p>

<h1>Khachhangs</h1>

<table>
  <thead>
    <tr>
      <th>Stt</th>
      <th>Tenkh</th>
      <th>Makh</th>
      <th>Diachi</th>
      <th>Email</th>
      <th>Ngaysinh</th>
      <th>Tongno</th>
      <th>Loaikh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @khachhangs.each do |khachhang| %>
      <tr>
        <td><%= khachhang.stt %></td>
        <td><%= khachhang.tenkh %></td>
        <td><%= khachhang.makh %></td>
        <td><%= khachhang.diachi %></td>
        <td><%= khachhang.email %></td>
        <td><%= khachhang.ngaysinh %></td>
        <td><%= khachhang.tongno %></td>
        <td><%= khachhang.loaikh %></td>
        <td><%= link_to 'Show', khachhang %></td>
        <td><%= link_to 'Edit', edit_khachhang_path(khachhang) %></td>
        <td><%= link_to 'Destroy', khachhang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Khachhang', new_khachhang_path %>
