<p id="notice"><%= notice %></p>

<p>
  <strong>Stt:</strong>
  <%= @khachhang.stt %>
</p>

<p>
  <strong>Tenkh:</strong>
  <%= @khachhang.tenkh %>
</p>

<p>
  <strong>Makh:</strong>
  <%= @khachhang.makh %>
</p>

<p>
  <strong>Diachi:</strong>
  <%= @khachhang.diachi %>
</p>

<p>
  <strong>Email:</strong>
  <%= @khachhang.email %>
</p>

<p>
  <strong>Ngaysinh:</strong>
  <%= @khachhang.ngaysinh %>
</p>

<p>
  <strong>Tongno:</strong>
  <%= @khachhang.tongno %>
</p>

<p>
  <strong>Loaikh:</strong>
  <%= @khachhang.loaikh %>
</p>

<%= link_to 'Edit', edit_khachhang_path(@khachhang) %> |
<%= link_to 'Back', khachhangs_path %>
