<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email %> <i class="fas fa-envelope"></i><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100 form-control' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :password %> <i class="fas fa-key"></i><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'w-100 form-control' %>
    </div>
  
    <div class="actions">
      <%= f.submit "Login", class:'btn btn-color' %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>