<div class="container-fluid"> 
  <%= form_with(model: baocaoton) do |form| %>
    <% if baocaoton.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(baocaoton.errors.count, "error") %> prohibited this baocaoton from being saved:</h2>

        <ul>
          <% baocaoton.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label "Mã sách" %>
      <%= form.number_field :masach, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tên sách" %>
      <%= form.text_field :tensach, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Nhà xuất bản" %>
      <%= form.text_field :nhaxuatban, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Năm xuất bản" %>
      <%= form.text_field :namxuatban, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tồn đầu" %>
      <%= form.number_field :tondau, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Phát sinh nhập" %>
      <%= form.number_field :phatsinhnhap, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Phát sinh xuất" %>
      <%= form.number_field :phatsinhxuat, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tồn cuối" %>
      <%= form.number_field :toncuoi, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "lưu dữ liệu", class:"btn btn-color" %>
    </div>
  <% end %>
</div>
