<div class="container">
 <p id="notice"><%= notice %></p>

  <p>
    <strong>Masach:</strong>
    <%= @baocaoton.masach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= @baocaoton.tensach %>
  </p>

  <p>
    <strong>Nhaxuatban:</strong>
    <%= @baocaoton.nhaxuatban %>
  </p>

  <p>
    <strong>Namxuatban:</strong>
    <%= @baocaoton.namxuatban %>
  </p>

  <p>
    <strong>Tondau:</strong>
    <%= @baocaoton.tondau %>
  </p>

  <p>
    <strong>Phatsinhnhap:</strong>
    <%= @baocaoton.phatsinhnhap %>
  </p>

  <p>
    <strong>Phatsinhxuat:</strong>
    <%= @baocaoton.phatsinhxuat %>
  </p>

  <p>
    <strong>Toncuoi:</strong>
    <%= @baocaoton.toncuoi %>
  </p>

  <%= link_to 'Edit', edit_baocaoton_path(@baocaoton), class: 'btn btn-color' %>
  <%= link_to 'Back', baocaotons_path, class: 'btn btn-color' %>
</div>
</br>