<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Tentacgia:</strong>
    <%= @tacgium.tentacgia %>
  </p>

  <p>
    <strong>Namsinh:</strong>
    <%= @tacgium.namsinh %>
  </p>

  <%= link_to 'Edit', edit_tacgium_path(@tacgium), class: 'btn btn-color' %>
  <%= link_to 'Back', tacgia_path, class: 'btn btn-color %>
</div>
</br>