<div class="container-fluid">
  <%= form_with(model: phieunhap) do |form| %>
    <% if phieunhap.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(phieunhap.errors.count, "error") %> prohibited this phieunhap from being saved:</h2>

        <ul>
          <% phieunhap.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label "Mã phiếu nhập" %>
      <%= form.number_field :maphieunhap, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Ngày tạo" %>
      <%= form.text_field :ngaytao, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tổng cộng" %>
      <%= form.text_field :tongcong, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "lưu dữ liệu", class:"btn btn-color" %>
    </div>
  <% end %>
</div>