<p id="notice"><%= notice %></p>
<h1 class="title">Phiếu nhập sách</h1>

<div class="container-fluid tablecontain">
<table class="table align-middle">
  <tr>
  <th>
  <h2>Danh sách phiếu nhập</h2>
</th>
<th>
  <%= link_to "Thêm dữ liệu", new_phieunhap_path, class: 'btn btn-primary bg-primary' %>
</th>
  </tr>

  <tr>
    <table class="table table-bordered table-hover">
      <tr class="table-dark">
        <th scope="col">Mã phiếu nhập sách</th>
        <th scope="col">Ngày tạo</th>
        <th scope="col">Tổng cộng</th>
        <th scope="col">Hành động</th>
      </tr>
      <thread>
        <% @phieunhaps.each do |phieunhap| %>
          <tr>
          <th scope="row"><%= phieunhap.maphieunhap %></th>
          <td><%= phieunhap.ngaytao %></td>
          <td><%= phieunhap.tongcong %> (VNĐ)</td>
          <td>
            <ul class="ulsach">
            <li>
            <%= link_to "Chỉnh sửa", edit_phieunhap_path(phieunhap), class: 'btn btn-primary bg-primary' %>
          </li>
          <li>
            <%= link_to "Xóa", phieunhap, data: { confirm: 'Xóa dữ liệu?' }, :method => :delete , class:'btn btn-primary bg-danger' %>
          </li>
            </ul>
          </td>
        </tr>
        <% end %>
      </thread>
    </table>

  
  </tr>
</table>
</div>
