<div class="container"> 
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Maphieunhap:</strong>
    <%= @phieunhap.maphieunhap %>
  </p>

  <p>
    <strong>Ngaytao:</strong>
    <%= @phieunhap.ngaytao %>
  </p>

  <p>
    <strong>Tongcong:</strong>
    <%= @phieunhap.tongcong %>
  </p>

  <%= link_to 'Edit', edit_phieunhap_path(@phieunhap) %> |
  <%= link_to 'Back', phieunhaps_path %>
</div>
</br>