<h1 class="title">Đầu sách</h1>

<div class="container-fluid tablecontain">
<table class="table align-middle">
  <tr>
    <th>
      <h2>Danh sách đầu sách</h2>
    </th>
    <th>
      <%= link_to "Thêm dữ liệu", new_dausach_path, class: 'btn btn-primary bg-primary' %>
    </th>
  </tr>

  <tr>
    <table class="table table-bordered table-hover">
      <tr class="table-dark">
        <th scope="col">Đầu sách</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Tác giá</th>
        <th scope="col">Hành động</th>
      </tr>
      <thread>
        <% @dausaches.each do |dausach| %>
          
          <tr>
          <th scope="row"><%= dausach.tensach %></th>
          <td><%= dausach.theloai %></td>
          <td><%= dausach.tacgia %></td>
          <td>
            <ul class="ulsach">
              <li>
                <%= link_to "Chỉnh sửa", edit_dausach_path(dausach), class: 'btn btn-primary bg-primary' %>
              </li>
              <li>
                <%= link_to "Xóa", dausach, :method => :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-primary bg-danger' %>
              </li>
            </ul>
          </td>
        </tr>
        <% end %>
      </thread>
</table>
</div>