<div class="container-fluid"> 
 <%= form_with(model: baocaocongno) do |form| %>
    <% if baocaocongno.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(baocaocongno.errors.count, "error") %> prohibited this baocaocongno from being saved:</h2>

        <ul>
          <% baocaocongno.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label "Mã khách hàng" %>
      <%= form.number_field :makh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tên khách hàng" %>
      <%= form.text_field :tenkh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Số điện thoại" %>
      <%= form.number_field :sdt, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Email" %>
      <%= form.text_field :email, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Nợ đầu" %>
      <%= form.text_field :nodau, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tổng tiền mua" %>
      <%= form.text_field :tongtienmua, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Số tiền trả" %>
      <%= form.text_field :sotientra, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Nợ cuối" %>
      <%= form.text_field :nocuoi, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "lưu chỉnh sửa", class:"btn btn-color" %>
    </div>
  <% end %>
</div>