<p id="notice"><%= notice %></p>
<h1 class="title">Báo cáo công nợ</h1>

<div class="container-fluid tablecontain">
<table class="table align-middle">
  <tr>
    <h2>Danh sách Báo cáo công nợ</h2>
  </tr>

  <tr>
    <table class="table table-bordered table-hover">
      <tr class="table-dark">
        <th scope="col">Mã khách hàng</th>
        <th scope="col">Tên khách hàng</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Email</th>
        <th scope="col">Nợ đầu</th>
        <th scope="col">Tổng tiền mua</th>
        <th scope="col">Số tiền trả</th>
        <th scope="col">Nợ cuối</th>
      </tr>
      <thread>
        <% @baocaocongnos.each do |baocaocongno| %>
          <tr>
            <td scope="row"><%= baocaocongno.makh %></td>
            <td><%= baocaocongno.tenkh %></td>
            <td><%= baocaocongno.sdt %></td>
            <td><%= baocaocongno.email %></td>
            <td><%= baocaocongno.nodau %> (VNĐ)</td>
            <td><%= baocaocongno.tongtienmua %> (VNĐ)</td>
            <td><%= baocaocongno.sotientra %> (VNĐ)</td>
            <td><%= baocaocongno.nocuoi %> (VNĐ)</td>
          </tr>
        <% end %>   
      </thread>
    </table>

  </tr>
</table>
</div>