<div class="container">
 <p id="notice"><%= notice %></p>

  <p>
    <strong>Makh:</strong>
    <%= @baocaocongno.makh %>
  </p>

  <p>
    <strong>Tenkh:</strong>
    <%= @baocaocongno.tenkh %>
  </p>

  <p>
    <strong>Sdt:</strong>
    <%= @baocaocongno.sdt %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @baocaocongno.email %>
  </p>

  <p>
    <strong>Nodau:</strong>
    <%= @baocaocongno.nodau %>
  </p>

  <p>
    <strong>Tongtienmua:</strong>
    <%= @baocaocongno.tongtienmua %>
  </p>

  <p>
    <strong>Sotientra:</strong>
    <%= @baocaocongno.sotientra %>
  </p>

  <p>
    <strong>Nocuoi:</strong>
    <%= @baocaocongno.nocuoi %>
  </p>

  <%= link_to 'Edit', edit_baocaocongno_path(@baocaocongno), class: 'btn btn-color' %>
  <%= link_to 'Back', baocaocongnos_path, class: 'btn btn-color' %>
</div>
</br>