<p id="notice"><%= notice %></p>
<h1 class="title">Tra cứu sách</h1>

<div class="container-fluid tablecontain">
<table class="table align-middle">
  <tr>
    <h2>Danh sách sách</h2>
  </tr>

  <tr>
    <table class="table table-bordered table-hover">
      <tr class="table-dark"> 
        <th scope="col">Mã sách</th>
        <th scope="col">Tên sách</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Tác giả</th>
        <th scope="col">Nhà xuất bản</th>
        <th scope="col">Năm xuất bản</th>
        <th scope="col">Giá tiền </th>
        <th scope="col">Số lượng</th>
      </tr>
      <thread>
        <% @tracuusaches.each do |tracuusach| %>
          <tr>
            <th scope="row"><%= tracuusach.masach %></th>
            <td><%= tracuusach.tensach %></td>
            <td><%= tracuusach.theloai %></td>
            <td><%= tracuusach.tacgia %></td>
            <td><%= tracuusach.nhaxuatban %></td>
            <td><%= tracuusach.namxuatban %></td>
            <td><%= tracuusach.giatien %> (VNĐ)</td>
            <td><%= tracuusach.soluong %></td>
          </tr>
        <% end %>
      </thread>
    </table>

  
  </tr>
</table>
</div>