<p id="notice"><%= notice %></p>

<p>
  <strong>Masach:</strong>
  <%= @tracuusach.masach %>
</p>

<p>
  <strong>Tensach:</strong>
  <%= @tracuusach.tensach %>
</p>

<p>
  <strong>Theloai:</strong>
  <%= @tracuusach.theloai %>
</p>

<p>
  <strong>Tacgia:</strong>
  <%= @tracuusach.tacgia %>
</p>

<p>
  <strong>Nhaxuatban:</strong>
  <%= @tracuusach.nhaxuatban %>
</p>

<p>
  <strong>Namxuatban:</strong>
  <%= @tracuusach.namxuatban %>
</p>

<p>
  <strong>Giatien:</strong>
  <%= @tracuusach.giatien %>
</p>

<p>
  <strong>Soluong:</strong>
  <%= @tracuusach.soluong %>
</p>

<%= link_to 'Edit', edit_tracuusach_path(@tracuusach) %> |
<%= link_to 'Back', tracuusaches_path %>
