<div class="container-fluid">
  <%= form_with(model: hoadon) do |form| %>
    <% if hoadon.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(hoadon.errors.count, "error") %> prohibited this hoadon from being saved:</h2>

        <ul>
          <% hoadon.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :mahoadon %>
      <%= form.number_field :mahoadon, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :ngaytao %>
      <%= form.text_field :ngaytao, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :makh %>
      <%= form.number_field :makh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :tenkh %>
      <%= form.text_field :tenkh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :tientra %>
      <%= form.text_field :tientra, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :tienno %>
      <%= form.text_field :tienno, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :tongcong %>
      <%= form.text_field :tongcong, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label :nguoitao %>
      <%= form.text_field :nguoitao, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
