<div class="container-fluid">
  <%= form_with(model: hoadon) do |form| %>
    <% if hoadon.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(hoadon.errors.count, "error") %> prohibited this hoadon from being saved:</h2>

        <ul>
          <% hoadon.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label "Mã hóa đơn" %>
      <%= form.number_field :mahoadon, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Ngày tạo" %>
      <%= form.text_field :ngaytao, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Mã khách hàng" %>
      <%= form.number_field :makh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tên khách hàng" %>
      <%= form.text_field :tenkh, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tiền trả" %>
      <%= form.text_field :tientra, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tiền nợ" %>
      <%= form.text_field :tienno, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Tổng cộng" %>
      <%= form.text_field :tongcong, class:"form-control" %>
    </div>

    <div class="field form-group">
      <%= form.label "Người tạo" %>
      <%= form.text_field :nguoitao, class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "lưu chỉnh sửa", class:"btn btn-color"  %>
    </div>
  <% end %>
</div>
