<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Mahoadon:</strong>
    <%= @hoadon.mahoadon %>
  </p>

  <p>
    <strong>Ngaytao:</strong>
    <%= @hoadon.ngaytao %>
  </p>

  <p>
    <strong>Makh:</strong>
    <%= @hoadon.makh %>
  </p>

  <p>
    <strong>Tenkh:</strong>
    <%= @hoadon.tenkh %>
  </p>

  <p>
    <strong>Tientra:</strong>
    <%= @hoadon.tientra %>
  </p>

  <p>
    <strong>Tienno:</strong>
    <%= @hoadon.tienno %>
  </p>

  <p>
    <strong>Tongcong:</strong>
    <%= @hoadon.tongcong %>
  </p>

  <p>
    <strong>Nguoitao:</strong>
    <%= @hoadon.nguoitao %>
  </p>

  <%= link_to 'Edit', edit_hoadon_path(@hoadon), class:"btn btn-color"  %>
  <%= link_to 'Back', hoadons_path, class:"btn btn-color"  %>
</div>
</br>