<p id="notice"><%= notice %></p>
<h1 class="title">Kiểm kho</h1>

<div class="container-fluid tablecontain">
<table class="table align-middle">
  <tr>
    <th>
      <h2>Danh sách Kiểm kho</h2>
    </th>
    <th>
      <%= link_to "Thêm dữ liệu", new_kiemkho_path, class: 'btn btn-primary bg-primary' %>
    </th>
  </tr>

  <tr>
    <table class="table table-bordered table-hover">
      <tr class="table-dark">
        <th scope="col">Mã sách</th>
        <th scope="col">tên sách</th>
        <th scope="col">Thể loại</th>
        <th scope="col">Tác giả</th>
        <th scope="col">Nhà xuất bản</th>
        <th scope="col">Năm xuất bản</th>
        <th scope="col">Giá bán</th>
        <th scope="col">Tồn kho</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Hành động</th>
      </tr>
      <thread>        
        <% @kiemkhos.each do |kiemkho| %>
          
          <tr>
            <th scope="row"><%= kiemkho.masach %></td>
            <td><%= kiemkho.tensach %></td>
            <td><%= kiemkho.theloai %></td>
            <td><%= kiemkho.tacgia %></td>
            <td><%= kiemkho.nhaxuatban %></td>
            <td><%= kiemkho.namxuatban %></td>
            <td><%= kiemkho.giaban %></td>
            <td><%= kiemkho.tonkho %></td>
            <td><%= kiemkho.soluong %></td>
            <td>
              <ul class="ulhoadon">
              <li>
                <%= link_to "Chỉnh sửa", edit_kiemkho_path(kiemkho), class: 'btn btn-primary bg-primary' %>
              </li>
              <li>
                <%= link_to "Xóa", kiemkho, data: { confirm: 'Xóa dữ liệu?' }, :method => :delete , class:'btn btn-primary bg-danger' %>
              </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </thread>
    </table>
  </tr>
</table>
</div>