<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Masach:</strong>
    <%= @kiemkho.masach %>
  </p>

  <p>
    <strong>Tensach:</strong>
    <%= @kiemkho.tensach %>
  </p>

  <p>
    <strong>Theloai:</strong>
    <%= @kiemkho.theloai %>
  </p>

  <p>
    <strong>Tacgia:</strong>
    <%= @kiemkho.tacgia %>
  </p>

  <p>
    <strong>Nhaxuatban:</strong>
    <%= @kiemkho.nhaxuatban %>
  </p>

  <p>
    <strong>Namxuatban:</strong>
    <%= @kiemkho.namxuatban %>
  </p>

  <p>
    <strong>Giaban:</strong>
    <%= @kiemkho.giaban %>
  </p>

  <p>
    <strong>Tonkho:</strong>
    <%= @kiemkho.tonkho %>
  </p>

  <p>
    <strong>Soluong:</strong>
    <%= @kiemkho.soluong %>
  </p>

  <%= link_to 'Edit', edit_kiemkho_path(@kiemkho) %> |
  <%= link_to 'Back', kiemkhos_path %>
</div>
</br>