<!DOCTYPE html>
<html>
  <head>
    <title>AppLibraryManner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand app" href="<%= home_index_path %>">Quản lý nhà sách</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-content collapse navbar-collapse" id="navbarScroll">
          <% if user_signed_in? %>
          <ul>
            <li class='txt'>Đang đăng nhập: <strong><%= current_user.email %></strong></li>
            <li><%= link_to 'Chỉnh sửa User', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li>|</li>
            <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>


    <% if user_signed_in? %>
      <div class="row">
        <div class="col-3 sidebar-container">
          <%= render 'layouts/partials/sidebar' %>
        </div>
        <div class="col-9 yeild">
          <%= yield %>
        </div>      
      </div>
    <% else %>
          <div class="container-fluid bg-signin">
            <%= yield %>
          </div>
    <% end %>
  </body>
</html>
